@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Inter", sans-serif;

  --primary-color: #ff0000;
}

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)),
    url("images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.title {
  margin: 0 0 1rem 0;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

.subtitle {
  color: #d3d1d1;
}

.hero-action {
  margin-top: 4rem;
  padding: 2rem 2rem;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.hero-action:hover {
  background-color: transparent;
  color: var(--primary-color);
}

nav {
  background-color: #1a1a1a;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 2rem;
  letter-spacing: 0.2rem;
}

.navi {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navi:hover {
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

.about {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  padding: 5rem 5rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.button-about {
  margin-top: 4rem;
  padding: 2rem 2rem;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.button-about:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.info-section {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  padding: 5rem 5rem;
  background: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)),
    url("images/opening.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .hero-action {
    padding: 1.2rem 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .navi {
    gap: 4rem;
  }
}
